header{
    display: flex;
    justify-content: center;

    margin-top: 50px;
}
.header_txt__p{
    display: flex;
    justify-content: center;

    margin-top: 30px;
}
.logo img{
    height: 200px;
    width: 200px;
}
.header_txt h1{
    font-size: 1.2rem;
    font-weight: 600;
}
