body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #06141B 0%, #11212D 35%, #4A5C6A 70%, #CCD0CF 100%);
}
.container {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;

    background: #ccd0cfa9;
}
.top_text {
    margin-bottom: 10px;
    display: flex;
}
.top_text a {
    margin-right: 15px;
    text-decoration: none;
    color: #0b2545;
    font-weight: 500;
}
.top_text p{
    font-size: 1.5rem;
    font-weight: 500;
}
.map_section {
    background: #0b2545;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-height: calc(80vh + 10px);
}
.map{
    width: 100%;
    height: 80vh;
    border-radius: 8px;
}
#leaflet-map{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}